html {
    height: 100%;
  }

body {
  min-height: 100%;
}

button {
  border-radius: 15px;
  width: 52px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#calculator-grid {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 15px;
  border-style: solid;
  border-radius: 15px;
  width: 300px;
}

#visor {
  border-style: solid;
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
  width: 200px;
  height: 50px;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 280px;
  gap: 5px;

}

.top-buttons {
  justify-content: end;
}

#middle-buttons {
  justify-content: center;
}