html {
    height: 100%;
  }

body {
  min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#calculator-grid {
  display: flex;
  justify-content: center;
  align-content: center;
  border-style: solid;
  border-radius: 15px;
  width: 300px;
}

#visor {
  border-style: solid;
  border-radius: 10px;
  padding: 30px;
  margin-top: 10px;
  width: 150px;
}

.button-grid {
  display: flex;
  flex: 1;
  justify-content: end;
  width: 280px;
}

button {
  border-radius: 15px;
}